global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'fastapi'
    static_configs:
      - targets: ['fastapi:8000']





  - job_name: 'minio'
    static_configs:
      - targets: ['minio:9000']

  - job_name: 'celery_worker'
    static_configs:
      - targets: ['celery_worker:5555']  # Assuming Celery Flower or similar for monitoring

  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:3000']
